[submodule "public"]
	path = public
	url = git@github.com:xinglin/xinglin.github.io.git
	branch = master
[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/xinglin/cocoa-eh-hugo-theme.git
	branch = master
